nav{

li {
    box-sizing: content-box;
    text-align: center;
    height: 40px;
    }
li a{
    display: block;
    line-height: 40px;
    background-color: $light-blue;
    color: white;
    transition: 0.3s ease-in-out;
    z-index: 999;

}
a:hover,
a:focus,
a:active {
  background-color: white;
  color: $light-blue;
}

li:last-child{
flex:none;
}
}

.nav-mobel {
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

.nav-mobel.show {
  height: 294px;

  ul {
    li {
      border: $dark-blue 1px solid;
      text-align: center;
    }

    .social-icons {
      width: 100%;
      margin: 5px 0;
      background-color: transparent;

      a {
        background-color: transparent;
        display: inline-block;
        position: relative;
        width: 33px;
        height: 25px;
        overflow: hidden;

        i:nth-child(1) {
          position: absolute;
          top: 0;
          left: 0;
          color: $light-blue;
          padding-right: 20px;
          font-size: 25px;
          transition: transform 0.3s ease;
          z-index: 9;
        }
        i:nth-child(2) {
          position: absolute;
          top: 100%;
          left: 0;
          color: $dark-grey;
          padding-right: 20px;
          font-size: 25px;
          transition: transform 0.3s ease;
          z-index: -9;
        }
      }
      a:last-child i {
        padding-right: 0;
      }
      a:hover,
      a:focus,
      a:active {
        i:nth-child(1) {
          transform: translateY(-100%);
        }
        i:nth-child(2) {
          transform: translateY(-100%);
        }
      }
    }
  }
}


// Responsive to Bigger Screen
@media (min-width: $phonePortrait) {
  // Nav Background-color of dark-blue.. to bleed to the sides.. full browser width bars

  .nav-desktop {
    width: 100%;
    background-color: $dark-blue;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      /* fill vertically */
      top: 0;
      bottom: 0;
      width: 9600px;
      right: 100%;
      background-color: $dark-blue;
    }

    &::after {
      width: 9600px;
      left: 100%;
      /* not browswer prefixed */
      background-color: $dark-blue;
      z-index: 999;
    }
  }

  .nav-desktop {
    ul {
      margin: 0 10px;
      display: flex;
      justify-content: space-between;
    }
    li {
      flex: 1;
      text-align: center;
    }
  }

  @media (min-width: $phoneLandscape) {
    .nav-desktop {
      ul {
        margin: 0 10px;
      }
      a {
        font-size: 1.2em;
      }
    }
  }

  @media (min-width: $tabletLandscape) {
    .nav-desktop {
      padding: 0 10px;
      height: 40px;
      display: flex;
      justify-content: space-between;

      ul {
        flex: 1;
        margin: 0;
      }
      form {
        height: 40px;
        margin: 0;
        border-radius: 0;
      }
    }
  }
}

.hamburger {
  display: block;
  align-self: center;
  padding: 5px;
  cursor: pointer; }
  .hamburger .line {
    width: 35px;
    height: 6px;
    background: #005991;
    margin: 5px;
    border-radius: 10px; }

.hamburger:hover .line {
  background: #1a71a9; }