//Colors
$white:#fff;
$mediumSize: 770px;
$hdSize: 1020px;
$headerSocial: #a9aaaf;
$cpSize: 670px;


$dark-blue: #005991;
$light-blue:#1170a7;
$dark-grey: #a9aaaf;
$med-grey: #dedede;
$light-grey: #e9e9e9;
$very-light-grey: #f9f9f9;

$desktopMedium: 1250px;
//$tabletLandscape: 1024px;
$tabletLandscape: 770px;
//$tabletPortrait: 850px;
$tabletPortrait: 750px;
$phoneLandscape: 670px;
$phoneMedium: 460px;
$phonePortrait: 420px;


