/* CSS Document */
h1 {
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
  color: #1a71a9;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
}

p {
  font-weight: regular;
  font-size: 1em;
}

h4 {
  font-weight: 400;
  font-size: 1.8em;
  text-transform: uppercase;
  color: #1a71a9;
}

h5 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
  color: white;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

header nav a {
  font-weight: 400;
}

.section-article p {
  font-weight: 300;
}

.section-article a {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

header .nav-mobile {
  font-size: 20px;
}

@media (min-width: 770px) {
  h2 {
    font-size: 1.3em;
  }
}

@media (min-width: 670px) {
  h1 {
    font-size: 3em;
  }
}

header {
  background-color: #f9f9f9;
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
}

header::after,
header::before {
  content: "";
  position: absolute;
  /* fill vertically */
  top: 0;
  bottom: 0;
  width: 9600px;
  right: 100%;
  background: #f9f9f9;
}

header::after {
  width: 9600px;
  left: 100%;
  /* not browswer prefixed */
  background: #f9f9f9;
}

header .header-desktop {
  display: none;
}

header .header-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-mobile [alt="logo-large"] {
  display: none;
}

header .header-mobile .logo {
  padding-left: 10px;
}

@media (min-width: 450px) {
  header .header-mobile [alt="logo-small"] {
    display: none;
  }
  header .header-mobile [alt="logo-large"] {
    display: block;
  }
  header .header-mobile .logo {
    width: 70%;
  }
}

@media (min-width: 600px) {
  header .header-mobile,
  header .social-icons {
    display: none;
  }
  header .header-desktop {
    display: block;
  }
  header .nav-desktop form {
    display: none;
  }
  header .header-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-desktop .logo {
    width: 55%;
    margin-left: 20px;
  }
  header .header-desktop form {
    width: 30%;
    margin: 20px;
    margin-right: 10px;
  }
}

@media (min-width: 750px) {
  header .header-desktop .logo {
    width: 43%;
    margin: 20px;
  }
  header .header-desktop form {
    width: 27%;
    margin: 20px;
    margin-right: 0;
  }
  header .header-desktop .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 20px 20px 0;
  }
  header .header-desktop .social-icons a {
    color: #1a71a9;
    display: inline-block;
    padding-right: 20px;
    font-size: 25px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  header .header-desktop .social-icons a:last-child {
    padding-right: 0;
  }
  header .header-desktop .social-icons a:hover,
  header .header-desktop .social-icons a:focus,
  header .header-desktop .social-icons a:active {
    color: #a9aaaf;
  }
}

@media (min-width: 850px) {
  header .header-desktop form {
    display: none;
  }
  header .header-desktop .nav-desktop form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  header .header-desktop .logo {
    margin-left: 30px;
  }
  header .header-desktop .social-icons {
    margin-right: 30px;
  }
}

.hamburger {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px;
  cursor: pointer;
}

.hamburger .line {
  width: 35px;
  height: 6px;
  background: #005991;
  margin: 5px;
  border-radius: 10px;
}

.hamburger:hover .line {
  background: #1a71a9;
}

nav ul li {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-align: center;
  height: 40px;
}

nav ul a {
  display: block;
  line-height: 40px;
  background-color: #1a71a9;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 999;
}

nav ul a:hover,
nav ul a:focus,
nav ul a:active {
  background-color: white;
  color: #1a71a9;
}

.nav-mobile {
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

.nav-mobile.show {
  height: 294px;
}

.nav-mobile.show ul li {
  border: #005991 1px solid;
}

.nav-mobile.show ul .social-icons {
  width: 100%;
  margin: 5px 0;
  background-color: transparent;
}

.nav-mobile.show ul .social-icons a {
  background-color: transparent;
  display: inline-block;
  position: relative;
  width: 33px;
  height: 25px;
  overflow: hidden;
}

.nav-mobile.show ul .social-icons a i:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  color: #1a71a9;
  padding-right: 20px;
  font-size: 25px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 9;
}

.nav-mobile.show ul .social-icons a i:nth-child(2) {
  position: absolute;
  top: 100%;
  left: 0;
  color: #a9aaaf;
  padding-right: 20px;
  font-size: 25px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: -9;
}

.nav-mobile.show ul .social-icons a:last-child i {
  padding-right: 0;
}

.nav-mobile.show ul .social-icons a:hover i:nth-child(1),
.nav-mobile.show ul .social-icons a:focus i:nth-child(1),
.nav-mobile.show ul .social-icons a:active i:nth-child(1) {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nav-mobile.show ul .social-icons a:hover i:nth-child(2),
.nav-mobile.show ul .social-icons a:focus i:nth-child(2),
.nav-mobile.show ul .social-icons a:active i:nth-child(2) {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media (min-width: 500px) {
  .nav-desktop {
    width: 100%;
    background-color: #005991;
    position: relative;
  }
  .nav-desktop::after, .nav-desktop::before {
    content: "";
    position: absolute;
    /* fill vertically */
    top: 0;
    bottom: 0;
    width: 9600px;
    right: 100%;
    background-color: #005991;
  }
  .nav-desktop::after {
    width: 9600px;
    left: 100%;
    /* not browswer prefixed */
    background-color: #005991;
    z-index: 999;
  }
  .nav-desktop ul {
    margin: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-desktop li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
}

@media (min-width: 500px) and (min-width: 750px) {
  .nav-desktop ul {
    margin: 0 10px;
  }
  .nav-desktop a {
    font-size: 1.2em;
  }
}

@media (min-width: 500px) and (min-width: 850px) {
  .nav-desktop {
    padding: 0 10px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-desktop ul {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
  }
  .nav-desktop form {
    height: 40px;
    margin: 0;
    border-radius: 0;
  }
}

form {
  background-color: #dedede;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px #a9aaaf;
          box-shadow: inset 0 0 5px #a9aaaf;
}

form input {
  border: none;
  background: transparent;
  margin-left: 10px;
  width: 80%;
  height: 40px;
  padding: 0;
  color: darkgray;
  font-size: 15px;
}

form button {
  margin: 2px;
  padding: 0;
  border: none;
  margin-right: 10px;
  background-color: transparent;
  cursor: pointer;
}

main {
  margin: 0 auto;
  max-width: 1020px;
}

body {
  background-image: url("../images/bg.jpg");
}

.wrapper .section {
  background-color: white;
}

.wrapper .section-banner .banner {
  position: relative;
  cursor: pointer;
}

.wrapper .section-banner .banner img {
  display: block;
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.wrapper .section-banner .banner h2 {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 10px;
  color: white;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  font-size: 1.2em;
}

.wrapper .section-banner .banner:hover img, .wrapper .section-banner .banner:focus img, .wrapper .section-banner .banner:active img {
  opacity: 0.8;
}

.wrapper .section-article {
  padding: 20px;
}

.wrapper .section-article h1 {
  font-size: 1.2em;
}

.wrapper .section-article p {
  color: #a9aaaf;
  font-size: 0.8em;
  line-height: 17px;
  padding: 10px;
}

.wrapper .section-article a {
  display: block;
  text-align: right;
}

.wrapper .section-article .btn-more {
  padding: 9px;
  background-color: #1170a7;
  font-size: 0.7em;
  font-weight: bold;
  color: white;
  width: 100px;
  right: 0;
}

@media (min-width: 670px) {
  .section-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .banner:first-child {
    width: 100%;
  }
  .banner:nth-child(2), .banner:nth-child(3) {
    margin-top: 5px;
    width: 49.5%;
  }
}

.sidebar1, .sidebar2 {
  width: 100%;
  background-color: #e9e9e9;
}

.sidebar-title {
  background-color: #1170a7;
}

.sidebar-title h5 {
  font-size: 1.3em;
  padding: 7px;
}

.sidebar-article {
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-article img {
  border: solid 1px #1170a7;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.sidebar-article p {
  color: black;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 5px;
  cursor: pointer;
}

.sidebar-article:nth-child(odd) {
  background-color: #e9e9e9;
}

.cuisines-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px 1fr;
      grid-template-columns: 135px 1fr;
  line-height: 30px;
  font-size: 0.9em;
  cursor: pointer;
}

.sidebar .sidebar2 li:nth-child(odd) {
  -ms-grid-column: 1;
  grid-column: 1;
}

.sidebar .sidebar2 li:nth-child(even) {
  -ms-grid-column: 2;
  grid-column: 2;
}

@media (min-width: 460px) {
  .sidebar .sidebar2 ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 135px 135px 1fr;
        grid-template-columns: 135px 135px 1fr;
  }
  .sidebar .sidebar2 li:first-child {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .sidebar .sidebar2 li:nth-child(2) {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .sidebar .sidebar2 li:nth-child(3n+4) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .sidebar .sidebar2 li:nth-child(3n+5) {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .sidebar .sidebar2 li:nth-child(3n) {
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

@media (min-width: 770px) {
  .sidebar .sidebar2 ul {
    display: block;
  }
  .sidebar .sidebar2 li {
    width: 100%;
  }
}

.sidebar .sidebar-title {
  padding: 10px;
  background-color: #1170a7;
}

.sidebar .sidebar-article {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .sidebar-article.cuisines-list-article {
  display: block;
}

.sidebar .sidebar-article img {
  cursor: pointer;
  border: #1170a7 1.5px solid;
}

.sidebar .sidebar-article p {
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1.2em;
  font-size: 1.2em;
  margin-left: 10px;
  font-weight: 300;
}

.sidebar .sidebar1 {
  margin-bottom: 10px;
}

.sidebar .sidebar1 .sidebar-article:nth-of-type(2n + 1) {
  background-color: #e9e9e9;
}

.sidebar .sidebar1 .sidebar-article:nth-of-type(2n) {
  background-color: #f9f9f9;
}

.sidebar .sidebar2 .sidebar-article {
  background-color: #f9f9f9;
}

.sidebar .sidebar2 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px 1fr;
      grid-template-columns: 135px 1fr;
}

@media (min-width: 460px) {
  .sidebar .sidebar2 ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 135px 135px 1fr;
        grid-template-columns: 135px 135px 1fr;
  }
}

@media (min-width: 770px) {
  .sidebar .sidebar2 ul {
    display: block;
  }
}

.sidebar .sidebar2 li {
  cursor: pointer;
  font-weight: 300;
  line-height: 1.9em;
}

.sidebar .sidebar2 li:nth-child(odd) {
  -ms-grid-column: 1;
  grid-column: 1;
}

.sidebar .sidebar2 li:nth-child(even) {
  -ms-grid-column: 2;
  grid-column: 2;
}

@media (min-width: 460px) {
  .sidebar .sidebar2 li:first-child {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .sidebar .sidebar2 li:nth-child(2) {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .sidebar .sidebar2 li:nth-child(3n+4) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .sidebar .sidebar2 li:nth-child(3n+5) {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .sidebar .sidebar2 li:nth-child(3n) {
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

@media (min-width: 770px) {
  .sidebar .sidebar2 li {
    width: auto;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
  color: #1170a7;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
}

p {
  font-weight: regular;
  font-size: 1em;
}

h4 {
  font-weight: 400;
  font-size: 1.8em;
  text-transform: uppercase;
  color: #1170a7;
}

h5 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
  color: white;
}

header nav a {
  font-weight: 400;
}

.section-article p {
  font-weight: 300;
}

.section-article a {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

header .nav-mobile {
  font-size: 20px;
}

@media (min-width: 770px) {
  h2 {
    font-size: 1.3em;
  }
}

@media (min-width: 670px) {
  h1 {
    font-size: 3em;
  }
}

.hamburger {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px;
  cursor: pointer;
}

.hamburger .line {
  width: 35px;
  height: 6px;
  background: #005991;
  margin: 5px;
  border-radius: 10px;
}

.hamburger:hover .line {
  background: #1170a7;
}

footer {
  background-color: #005991;
}

footer .footer-wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color: white;
}

form {
  background-color: #dedede;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px #a9aaaf;
          box-shadow: inset 0 0 5px #a9aaaf;
}

form input {
  border: none;
  background: transparent;
  margin-left: 10px;
  width: 80%;
  height: 40px;
  padding: 0;
  color: darkgray;
  font-size: 15px;
}

form button {
  margin: 2px;
  padding: 0;
  border: none;
  margin-right: 10px;
  background-color: transparent;
  cursor: pointer;
}

body {
  background-image: url("../images/bg.jpg");
  background-repeat: repeat;
}

.wrapper {
  margin: 10px 10px 20px 10px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

.wrapper section {
  background-color: white;
}

.wrapper .hero-images {
  background-color: transparent;
}

.wrapper .sidebar {
  display: block;
}

.wrapper .section-content-wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: minmax(min-content, max-content);
}

@media (min-width: 670px) {
  .wrapper {
    margin: 10px;
  }
}

@media (min-width: 770px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
    grid-auto-rows: minmax(min-content, max-content);
  }
  .wrapper .sidebar {
    display: block;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
  }
  .wrapper .section-content-wrapper {
    -ms-grid-columns: 1fr 220px;
        grid-template-columns: 1fr 220px;
    grid-row-gap: 10px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .wrapper .hero-images {
    -ms-grid-column: 1;
    grid-column: 1;
    background-color: transparent;
  }
  .wrapper .section-article {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .wrapper .section-article h1 {
    font-size: 2em;
  }
  .wrapper .section-older-post {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}
/*# sourceMappingURL=styles.css.map */